weights/backbone.ckpt
data/observations_*/*.h5
results/
data/*.h5
data/individual_files/
data/individual_files_clim/
data/ERA5/
data/IFS-HRES_Mawar/*.pt
data/IFS-HRES_Mawar/*.npy
out_files/
data/IBTrACS
data/*.npy
.ipynb_checkpoints/
3DVar/archive/
3DVar/*.swp
3DVar/__pycache__/
*/.ipynb_checkpoints/*
*/__pycache__/*
3DVar/torch3dvar/__pycache__/
